@import '@servicenow/sass-kit/host';
@import '../../shared/css/vars';

.fa-icon-demo-container {
    user-select: none;
    color: #717171;
    margin: 0 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;

    &.fixed-layout {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        margin: 0;
        border-radius: none;

        & > .container-inner {
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;

            & > .inner-header {
                flex: 0 0 auto;
                height: $headerHeight * 2;
                border-bottom: 1px solid #e5e5e5;
                padding: 0 20px;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                & > .header-inner {
                    height: 100%;
                    width: 100%;
                    max-width: 1200px;
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 10px 0;
                    align-items: center;

                    & > input {
                        flex: 1 1 auto;
                        border: none;
                        border-bottom: 2px solid #e5e5e5;
                        font-size: 24px;
                        height: $itemHeight;

                        &:focus {
                            outline: none;
                            border-color: $swLightBlue;
                        }
                    }

                    & > .search-icon-container {
                        height: $itemHeight;
                        width: $itemHeight;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            & > .inner-body {
                flex: 1 1 auto;
                overflow: auto;
                padding: 20px;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                box-shadow: inset $base-shadow;

                & > .body-icons {
                    margin: -15px -7px;
                    display: flex;
                    flex-flow: row wrap;
                    max-width: 1200px;
                    width: 100%;

                    & > .icon-container {
                        margin: 15px 7px;
                        width: calc((100% / 9) - 14px);
                        border: 1px solid #e5e5e5;
                        background: white;
                        border-radius: 4px;
                        box-shadow: $base-shadow;
                        display: flex;
                        flex-flow: column nowrap;
                        overflow: hidden;

                        &:hover {
                            & > .icon-body {
                                background: $swLightBlue;
                                color: white;
                            }

                            & > .icon-footer {
                                color: #495057;
                            }
                        }

                        & > .icon-body {
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            justify-content: center;
                            color: #495057;
                            flex: 0 0 auto;
                            height: 80px;
                            transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
                        }

                        & > .icon-footer {
                            flex: 0 0 auto;
                            text-align: center;
                            border-top: 1px solid #e5e5e5;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: center;
                            padding: 5px;
                            height: 40px;
                            color: #adb5bd;
                            transition: color 0.15s ease-in-out;

                            & > span {
                                line-height: 12px;
                                font-size: 11px;
                                user-select: all;
                            }
                        }
                    }
                }
            }
        }
    }

    &.is-debug {
        top: 0;
    }
}